/* small screen's style*/
body {
    background-color: peru; 
    color: bisque; 
    font-family: Arial, sans-serif; 
} 

main {
    Background-color: saddlebrown;
    color: gainsboro;
} 

/*Large Screen's style*/
@media screen and (min-width: 750px) {
    body {
        background-color: maroon;
        color: moccasin;
    }
     header{
        font-family: Georgia, 'Times New Roman', serif;
        background-color: peru;
     } 
}
 